{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}Hello, world!{% endblock title %}</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
</head>
  <body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
      <div class="container-fluid">
          <a href="/" class="navbar-brand mr-3">SMAP Challenge</a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav">
                  <a href="/" class="nav-item nav-link active">Summary</a>
              </div>
          </div>
      </div>    
  </nav>

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Average by area</h1>
        <div id="chart-block"></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-condensed table-striped">
          <thead>
              <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <th>1</th>
                  <td>Hanako</td>
                  <td>Qiita</td>
                  <td>@Hanaq</td>
              </tr>
              <tr>
                  <th>2</th>
                  <td>Taro</td>
                  <td>Qiita</td>
                  <td>@TaroQ</td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-condensed table-striped">
          <thead>
              <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <th>1</th>
                  <td>Hanako</td>
                  <td>Qiita</td>
                  <td>@Hanaq</td>
              </tr>
              <tr>
                  <th>2</th>
                  <td>Taro</td>
                  <td>Qiita</td>
                  <td>@TaroQ</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<script language="JavaScript">
const sampleData = {
  labels: ["p0", "p1", "p2", "p3", "p4", "p5", "p6", "p7", "p8", "p9", "p10", "p11"],
  sample1: [1.9, 2.32, 1.52, 0.79, 1.37, 1.28, 1.92, 1.44, 2.58, -0.01, 0.71, 4.25],
  sample2: [7.01, -2.15, -7.29, 1.71, 0.72, -4.83, 2.75, 4.11, 3.08, -2.45, 3.05, -3.93],
  sample3: [-2.97, -2.15, -0.3, -0.65, -8.84, 0.28, 2.95, 2.79, 1.79, 2.87, 0.16, 0.31],
  timestamp: ["2018/04/16 22:18", "2018/04/16 23:18", "2018/04/17 00:18", "2018/04/17 01:18", "2018/04/17 02:18", "2018/04/17 09:18", "2018/04/17 10:18", "2018/04/17 11:18", "2018/04/17 12:18", "2018/04/17 13:18", "2018/04/17 14:18", "2018/04/17 15:18"]
};
// グラフ作成の手順を定義
const loadCharts = function () {
  const chartDataSet = {
    type: 'line',
    data: {
      labels: sampleData.labels,
      datasets: [{
        label: 'sample1',
        data: sampleData.sample1,
        backgroundColor: 'rgba(60, 160, 220, 0.3)',
        borderColor: 'rgba(60, 160, 220, 0.8)'
      }, {
        label: 'sample2',
        data: sampleData.sample2,
        backgroundColor: 'rgba(60, 190, 20, 0.3)',
        borderColor: 'rgba(60, 190, 20, 0.8)'
      }]
    },
    options: {}
  };
 
  const ctx = document.createElement('canvas');
  document.getElementById('chart-block').appendChild(ctx);
  new Chart(ctx, chartDataSet);
};
 
// グラフ作成
loadCharts();

</script>
{% endblock content %}
</body>
</html>
